body {
  background: #333;
  color: #8a8a8a;
}

.canvas {
    position: relative;
}

div#container {
    width: 600px;
    margin: 1em auto;
}

div#score {
  width: 20em;
  margin: 0px auto;
}

#scoreList {
  position: relative;
  height: 6.5em;
  list-style: none;
}

#scoreList li {
  background-color: #666;
  color: #fff;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 6px 0px;
  margin: 0 0 3px 0;
  text-indent: 2em;
  cursor: crosshair;
}

.button {
    border: 0;
    border-right: 8px solid black;
    padding: 9px 10px 4px 20px;
    text-align: right;
    font-weight: bold;
    color: #383838;
    display: block;
    font-variant: small-caps;
}

.validate {
    background-color: #f0ffe1;
    border-color: #5ba622;
    width: 50%;
    float: left;
}

input.add {
    border: 0;
    border-right: 1px solid #8a8a8a;
    background: #e7e7e7;
    padding: 9px 2px 4px 2px;
    text-align: left;
    font-weight: bold;
    color: #383838;
    font-variant: small-caps;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sortable-placeholder {
  border: 1px dashed #CCCCCC;
  width: 99%;
  height: 1em;
  margin-top: 2px;
}

.cancel {
    background-color: #e7e7e7;
    border-color: #8a8a8a;
    float: right;
}

li.cancel {
  display: list-item;
  float: none;
  margin-top: 2px;
}

li.cancel:hover {
  background-color: #ffdbdb;
  border-color: #ff0000;
}

a#add-player {
  float: none;
  display: inline;
}

label.game-option {
  display: list-item;
  text-align: left;
  list-style: none;
  float: none;
  margin-top: 2px;
}

label.game-option input {
  visibility: hidden;
}

div {
    position: relative;
    border: none;
}

#left {
    float: left;
    width: 50%;
}

#right {
    position: relative;
    float: left;
    width: 50%;
}

#game {
    position: relative;
    width: 80%;
    margin: 1em auto;
    height: 1em;
    border: 0;
    border-bottom: 1px solid #8a8a8a;
    padding: 0.5em 4px 2px 4px;
}

#type {
    width: 50%;
    float: left;
}

#turns {
    float: right;
    text-align: right;
    width: 50%;
}

#main {
  clear: both;
  position: relative;
}

#header {
  width: 100%;
}

#config fieldset {
  border: 1px solid #8a8a8a;
  margin-top: 5px;
  padding: 5px;
}

#players-conf {
  width: 45%;
  float: left;
  margin-left: 3%;
}

#players-conf fieldset {  
  min-height: 141px;
}

#game-conf {
  float: right;
  width: 45%;
  margin-right: 3%;
}

#config.hidden {
    display: none;
}

#marker {
    clear: both;
}

#conf-button {
  height: 20px;
  width: 90%;
  border-bottom: 1px solid #8a8a8a;
  margin: 0px auto;
  text-align: center;
}

#removePlayer {
  margin-bottom: 8px;
  width: 100%;
}

table.X01 {
    border-collapse: collapse;
    width: 95%;
    margin: 0px auto;
    empty-cells: show;
    table-layout: fixed;
}

table.X01 td, table.X01 th {
    border: 1px solid #8a8a8a;
    text-align: center;
    vertical-align: middle;
}

table.X01 tr {
    height: 1.5em;
}

table.X01 tr.header td {
    background-color: #8a8a8a;
    color: #333;
    font-weight: bold;
}

table.X01 tr td.win {
    color: red;
}

table.X01 tr.header td.current {
    color: #f90;
}

table.cricket {
    border-collapse: collapse;
    width: 95%;
    margin: 0px auto;
    empty-cells: show;
    table-layout: fixed;
}

table.cricket tr.header td {
    background-color: #8a8a8a;
    color: #333;
    font-weight: bold;
}

table.cricket td, table.cricket th {
    border: 1px solid #8a8a8a;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

table.cricket tr.header td.current {
    color: #f90;
}

table.cricket tr.totals td {
    border-top: 5px solid #8a8a8a;
}
